<div>

    <nav class="navbar navbar-fixed-top navbar-expand-lg navbar-light bg-light my-8">
      <button routerLink="/" class="btn btn-link homeBtnSize">Marketplace</button>
      <form class="form-inline my-2 my-lg-0">
        <div class="form-group">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="fas fa-tags"></i></span>
            <input class="form-control" type="textarea" id="inputTags" name="inputTags" placeholder="Enter Tags"
              [(ngModel)]="currentTag" (keydown.space)="addTag(currentTag)" />
          </div>
        </div>
        <button (click)="loadListings()" class="btn btn-outline-success my-2 my-sm-0">Search</button>
        <div class="max-tag-message" *ngIf="atMaxTags()">
          Maximum number of tags reached.

        </div>
      </div>
      <button (click)="searchListings()" class="btn btn-outline-success my-2 my-sm-0">Search</button>
      <div class="max-tag-message" *ngIf="atMaxTags()">
        Maximum number of tags reached.
      </div>
      <div class="chips">
        <div class="chip" *ngFor="let tag of tags">
          {{tag}}
          <i class="fas fa-times" (click)="deleteTag(tag)"></i>
        </div>
      </div>
    </form>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">

        <li class="nav-item dropdown shiftLeft">
          <a class="nav-link fas fa-ellipsis-v fa-2x m-2" id="navbarDropdown" role="button"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{username}}
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <button *ngIf="!showSignIn" (click)="editAccount()" name="button" class="dropdown-item btn login_btn btnSize">Edit Account</button>
              <div class="dropdown-divider"></div>
            <button *ngIf="!showSignIn" (click)="signOut()" name="button" class="dropdown-item btn login_btn btnSize">Sign Out</button>
            <div class="dropdown-divider"></div>
            <button *ngIf="showSignIn" (click)="signIn()" name="button" class="dropdown-item btn login_btn btnSize">Sign In</button>
            <div class="dropdown-divider"></div>
            <button *ngIf="showSignIn" routerLink="signUp" name="button" class="dropdown-item btn login_btn btnSize">Sign Up</button>
          </div>
          
        </li>
      </ul>
    </nav>
    <app-login *ngIf="showSignInView" (showSignEvent)="recieveShowSignInEvent($event)"></app-login>
   
        <ng-template #content let-modal>
            <div class="modal-header">
              <h4 class="modal-title" id="modal-basic-title">Message</h4>
              <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form [formGroup] ="messageForm" novalidate>
                  <div class="form-group">
                      <label for="subject">Subject</label>
                      <div class="input-group">
                        <input class="form-control" name ="subject" placeholder="Subject" formControlName="subject" required>
                      </div>
                    </div>
                <div class="form-group">
                  <label for="message">Message</label>
                  <div class="input-group">
                    <textarea rows="4" cols="50" class="form-control" name="message" placeholder="Message" formControlName="content" required ></textarea>
                  </div>
                </div>
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-outline-dark" (click)="messageOwner()">Send</button>
            </div>
          </ng-template>
          
         
          
          