<head>
  <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet"
    id="bootstrap-css">
  <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
  <title>Account Page</title>
</head>
<!------ Include the above in your HEAD tag ---------->

<br><br>
<div class="container-fluid well span6">
  <div class="row-fluid">
    <div class="span2">
      <img src="https://secure.gravatar.com/avatar/de9b11d0f9c0569ba917393ed5e5b3ab?s=140&r=g&d=mm" class="img-circle"
        alt="">
    </div>

    <div class="span8">
      <h3>User Name</h3>
      <h6>Email: MyEmail@servidor.com</h6>
      <h6>Ubication: Colombia</h6>
      <h6></h6>
      <h6>Available Funds:</h6>
    </div>

    <div class="span2">
      <div class="btn-group">
        <a class="btn dropdown-toggle btn-info" data-toggle="dropdown" href="#">
          Action
          <span class="icon-cog icon-white"></span><span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
          <li><a href="#"><span class="icon-wrench"></span> Modify</a></li>
          <li><a href="#"><span class="glyphicon glyphicon-usd"></span> Add Funds</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>