<head>
  <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet"
    id="bootstrap-css">
  <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
  <title>Account Page</title>
</head>

<br><br>
<div class="container-fluid well span6">
  <div class="row-fluid">
    <div class="span2">
      <img src="https://secure.gravatar.com/avatar/de9b11d0f9c0569ba917393ed5e5b3ab?s=140&r=g&d=mm" class="img-circle"
        alt="">
    </div>

    <div class="span8">
      <h3>{{user.pseudoname}}</h3>
      <h6>Name: {{user.firstname}} {{user.lastname}}</h6>
      <h6>Email: {{user.email}}</h6>
      <h6>Address: {{user.address.street}}, {{user.address.city}}</h6>
      <h6>         {{user.address.zipCode}}, {{user.address.state}}</h6>
      <h6>Phone Number: ({{user.phoneNumber.areaCodeThree}}){{user.phoneNumber.blockThree}}-{{user.phoneNumber.blockFour}}</h6>
      <h6>Available Funds: ${{user.creditCard.Balance}}</h6>
    </div>

    <div class="span2">
      <div class="btn-group">
        <a class="btn dropdown-toggle btn-info" data-toggle="dropdown" href="#">
          Action
          <span class="icon-cog icon-white"></span><span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
          <li><a href="#"><span class="icon-wrench"></span> Modify Details</a></li>
          <li><a href="#"><span class="glyphicon glyphicon-usd"></span> Add Funds</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>