<head>
  <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet"
    id="bootstrap-css">
  <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
  <title>Account Page</title>
</head>

<br><br><br><br>
<div class="container-fluid well col-sm-12">
  <div class="row-fluid">
    <div class="span2">
      <img src="https://secure.gravatar.com/avatar/de9b11d0f9c0569ba917393ed5e5b3ab?s=140&r=g&d=mm" class="img-circle"
        alt="">
    </div>

    <div *ngIf="!changeDetails" class="span8">
      <h3>{{user.pseudoname}}</h3>
      <h6>Name: {{user.firstname}} {{user.lastname}}</h6>
      <h6>Address: {{user.address.streetnumber}} {{user.address.streetname}}, {{user.address.city}}</h6>
      <h6>         {{user.address.zipcode}}, {{user.address.state}}</h6>
      <h6>Phone Number: {{user.phoneNumber.areaCodeThree}} - {{user.phoneNumber.blockThree}} - {{user.phoneNumber.blockFour}}</h6>
    </div>
      <div *ngIf="changeDetails" class="container">
      <form class="form" [formGroup]="editUserForm" (ngSubmit)="onSubmit()" novalidate>
          <div class="form-group row">
            <label for="firstname">First Name: </label>
            <input class="form-control" id="firstname" type="text" name="firstname" formControlName="firstname"
              required>
          </div>
          <div class="form-group row">
            <label for="lastname">Last Name: </label>
            <input class="form-control" id="lastname" type="text" name="lastname" formControlName="lastname" required>
          </div>
          <div class="form-group row">
            <label for="pseudoname">Pseudoname: </label>
            <input class="form-control" id="pseudoname" type="text" name="pseudoname" disabled formControlName="pseudoname"
              required>
          </div>
          <div class="form-group row">
            <div class="col-sm-6">
              <label for="streetnumber">Street Number: </label>
              <input class="form-control" id="streetnumber" type="number" name="streetnumber"
                formControlName="streetnumber" required>
            </div>
            <div class="col-sm-6">
              <label for="streetname">Street Name: </label>
              <input class="form-control" id="streetname" type="text" name="streetname" formControlName="streetname"
                required>
            </div>
          </div>
          <div class="form-group row">
            <label for="city">City: </label>
            <input class="form-control" id="city" type="text" name="city" formControlName="city" required>
          </div>
          <div class="form-group row">
            <label for="state">State: </label>
            <input class="form-control" id="state" type="text" name="state" formControlName="state" required>
          </div>
          <div class="form-group row">
            <label for="zipcode">Zip Code: </label>
            <input class="form-control" id="zipcode" type="number" name="zipcode" formControlName="zipcode"
              maxlength="5" required>
          </div>
          <label for="PhoneNumberGroup">Phone Number: </label>
          <div name="PhoneNumberGroup" class="form-group row">
            <div class="col-sm-4">
              <input class="form-control" id="areaCodeThree" type="number" name="areaCodeThree"
                formControlName="areaCodeThree" maxlength="3" required>
            </div>
            <div class="col-sm-4">
              <input class="form-control" id="blockThree" type="number" name="blockThree"
                formControlName="blockThree" maxlength="3" required>
            </div>
            <div class="col-sm-4">
              <input class="form-control" id="blockFour" type="number" name="blockFour"
                formControlName="blockFour" maxlength="4" required>
            </div>
          </div>
        <input type="submit" name="Submit" class="btn btn-info btn-md" (click)="onSubmit()" value="Submit">
      </form>
    </div>

  <div class="span2">
    <div class="btn-group">
      <a class="btn dropdown-toggle btn-info text-right" data-toggle="dropdown" href="#">
        Action
        <span class="icon-cog icon-white"></span><span class="caret"></span>
      </a>
      <ul class="dropdown-menu">
        <li><button *ngIf="!changeDetails" type="button" class="btn btn-info btn-md col-sm-12" (click)="editAccount()"><span
              class="icon-wrench"></span> Edit Account Details</button></li>
        <li><button *ngIf="changeDetails" type="button" class="btn btn-info btn-md col-sm-12" (click)="cancelEdit()"><span
              class="icon-remove"></span> Cancel Edits</button></li>
        <li><button *ngIf="!changeDetails" type="button" class="btn btn-info btn-md col-sm-12" (click)="addFunds()"><span
              class="icon-usd"></span> Add Funds</button></li>
      </ul>
    </div>
  </div>
</div>