<div class="d-flex">
  <div class="container h-100 text-left">
    <form class="form" [formGroup]="signupForm" (ngSubmit)="onSubmit()" novalidate>
      <div class="container text-center">
        <div class="form-group row">
          <div class="col-sm-6 text-left">
            <div>
              <label for="firstName">First Name: </label>
              <input class="form-control" id="firstName" type="text" name="firstName" formControlName="firstName"
                placeholder="Bart" required>
            </div>
          </div>
          <div class="col-sm-6 text-left">
            <div>
              <label for="lastName">Last Name: </label>
              <input class="form-control" id="lastName" type="text" name="lastName" formControlName="lastName"
                placeholder="Simpson" required>
            </div>
          </div>
        </div>
      </div>
      <div class="container text-center">
        <div class="form-group text-left row">
          <div class="col-sm-12">
            <label for="email">Email: </label>
            <input class="form-control" id="email" type="text" name="email" formControlName="email"
              placeholder="eatmy@shorts.com" required>
          </div>
        </div>
        <div class="form-group text-left row">
          <div class="col-sm-12">
            <label for="password">Password: </label>
            <input class="form-control" id="password" type="password" name="password" formControlName="password"
              placeholder="Password" required>
          </div>
        </div>
        <div class="form-group text-left row">
          <div class="col-sm-12">
            <label for="pseudoName">Pseudoname: </label>
            <input class="form-control" id="pseudoName" type="text" name="pseudoName" formControlName="pseudoName"
              placeholder="El_Barto" required>
          </div>
        </div>
      </div>
      <div class="container text-center">
        <div class="form-group text-left row">
          <div class="col-sm-3 text-left">
            <label for="streetNumber">Street Number: </label>
            <input class="form-control" id="streetNumber" type="text" name="streetNumber" formControlName="streetNumber"
              placeholder="742" required>
          </div>
          <div class="col-sm-6 text-left">
            <label for="streetName">Street Name: </label>
            <input class="form-control" id="streetName" type="streetName" name="streetName" formControlName="streetName"
              placeholder="Evergreen Ter." required>
          </div>
          <div class="col-sm-3 text-left">
            <div class="form-group">
              <label for="zipcode">Zip Code: </label>
              <input class="form-control" id="zipcode" type="number" name="zipcode" formControlName="zipcode"
                placeholder="58008" maxlength="5" required>
            </div>
          </div>
        </div>
        <div class="form-group row text-left">
          <div class="col-sm-6">
            <div class="form-group">
              <label for="city">City: </label>
              <input class="form-control" id="city" type="text" name="city" formControlName="city"
                placeholder="Springfield" required>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <label for="state">State: </label>
              <input class="form-control" id="state" type="text" name="state" formControlName="state"
                placeholder="Massachusetts" required>
            </div>
          </div>
        </div>
        <label for="PhoneNumberGroup">Phone Number: </label>
        <div name="PhoneNumberGroup" class="form-group row">
          <div class="col-sm-4">
            <input class="form-control" id="phoneAreaCode" type="number" name="phoneAreaCode"
              formControlName="phoneAreaCode" maxlength="3" placeholder="939" required>
          </div>
          <div class="col-sm-4">
            <input class="form-control" id="phoneFirstFour" type="number" name="phoneFirstFour"
              formControlName="phoneFirstFour" maxlength="4" placeholder="555" required>
          </div>
          <div class="col-sm-4">
            <input class="form-control" id="phoneLastThree" type="number" name="phoneLastThree"
              formControlName="phoneLastThree" maxlength="3" placeholder="0113" required>
          </div>
        </div>
      </div>
      <div class="form-group text-center">
        <input type="submit" name="Submit" class="btn btn-info btn-md" value="Submit">
      </div>
    </form>
  </div>
</div>